// Variables de colores y tamaños
$blue: #1976d2;
$blue-dark: #125ea7;
$gold: #ffd700;
$blue-bg: #e0f0ff;
$light-blue-border: #b3d6f2;
$grey-bg: #b6b5b7;
$red-bg:  #ffe7e7;
$white-bg: #fffbe7;
$neutral-bg: #f3efe6;
$blue-pentagon: #72a6de;
$red-pentagon: #d07f7e;
$black-pentagon: #777373;
$green-pentagon: #ade6af;
$white-pentagon: #ede9cf;
$blue-pentagon-border: mix(#000, $blue-pentagon, 15%);
$red-pentagon-border: mix(#000, $red-pentagon, 15%);
$black-pentagon-border: mix(#000, $black-pentagon, 15%);
$green-pentagon-border: mix(#000, $green-pentagon, 15%);
$white-pentagon-border: mix(#000, $white-pentagon, 15%);
$text: #222;
$verde-gradient-start: #e7dac7;
$verde-gradient-mid: #91d17c;
$verde-gradient-end: #70b551;
$shadow: rgba(34, 34, 34, 0.07);
$card-shadow: rgba(34,34,34,0.12);
$radius-lg: 16px;
$radius-md: 10px;
$font-family-base: "Oswald", sans-serif;

// Sizing
$carta-width: 170px;
$logo-max: 300px;
$pentagon-mobile-size: 90vw;
$pentagon-mobile-max: 300px;
$logo-mobile-max: 50vw;
$ruleta-width-size: 450px;
$ruleta-height-size: 450px;

// Breakpoints
$bp-sm: 600px;
$bp-md: 900px;
$bp-xs: 300px;


